.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}

.visibleText {
  font-size: 16px;
  color: #000;
  font-family: 'Oxygen', sans-serif;
}

.visibleError {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
